<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>TURSO_DATABASE_URL</key>
    <string>YOUR_TURSO_DATABASE_URL_HERE</string>
    <key>TURSO_AUTH_TOKEN</key>
    <string>YOUR_TURSO_AUTH_TOKEN_HERE</string>
</dict>
</plist>
